<div class="top-hero-wrapper-p">
  <div class="bg-mask">
    <div class="container content-container">
      <div class="row row-margin">
        <h1 class="text-white text-center">投稿詳細</h1>

            <div class="col-md-3 text-white" style="margin: 30px 47px 0">

<!-- カードのブロック欄 -->

              <div class="card">
                <%= link_to topic_path(id: @topic.id) do %> <!-- topic/:id -->

                  <div class="card-img-top"> <!-- 投稿のトップ画像 %> -->
                    <%= image_tag @topic.image.url, :size => '250x180' %>
                  </div>

                  <div class="text-black auto-br card-body" style="height: 180px; ">
                    <div class="text-center" style="margin-top: -35px;"> <!-- 投稿主の画像 -->
                      <%= image_tag @topic.teacher.image.url, :size => '70x70', class: 'img-circle' %>
                    </div>

                    <h3 class="text-center"><%= @topic.name %></h3> <!-- 投稿主の名前 -->
                    <p class="card-text"><%= @topic.description.truncate(58) %></p> <!-- 投稿の説明 -->
                  </div>

                <% end %> <!-- link_toのend -->

                <div class="category-label text-black" style="background-color: #EBC5C9; height: 50px"> <!-- 評価の欄 -->
                  <div class="text-left card-bottom-left"> <!-- カードボトムの左半分-->

                    <div class='likes' style=""> <!-- いいね機能 -->
                      <% if logged_in_user? %>
                        <% if current_user.likes.find_by(topic_id: @topic.id) %>

                          <%= link_to unlike_path(topic_id: @topic.id), method: 'delete' do %> <!-- いいね解除 -->
                            <i class="fa fa-heart like-btn fa-lg"></i>
                          <% end %>

                        <% else %>

                          <%= link_to likes_path(topic_id: @topic.id), method: 'post' do %> <!-- いいねする -->
                            <i class="far fa-heart like-btn fa-lg"></i>
                          <% end %>

                        <% end %>
                      <% end %>
                    </div>

                  </div>

                  <div class="text-right card-bottom-right"> <!-- カードボトムの右半分 -->
                    <div class="value">
                      <span class='value-content'>評価</span>
                      <br>

                      <div class="raty-marks">
                        <div id="star_rank_<%= @topic.id %>"></div> <!-- 評価の数字 -->

                          <script type="text/javascript">
                            $(function(){
                              $('#star_rank_<%= @topic.id %>').raty({
                                half     : true,
                                size     : 24,
                                starHalf : '/assets/star-half.png',
                                starOff  : '/assets/star-off.png',
                                starOn   : '/assets/star-on.png',
                                score    : <%= Review.where(teacher_id: @topic.teacher.id).average(:star) %>,
                                readOnly:    true
                              });
                            });
                          </script>

                      </div>

                    </div> <!-- value -->
                  </div> <!-- text-right -->

                </div> <!-- category-label -->
              </div> <!-- card -->

              <% if logged_in_teacher? %>
                <% if current_teacher.id == @topic.teacher_id %>

                  <div style="width: 60px; float: left">
                    <%= link_to edit_topic_path(id: @topic.id) do %>
                      <p>編集する</p>
                    <% end %>
                  </div>

                  <div style="width: 60px; float: left; margin-left: 10px">
                    <%= link_to topic_path(id: @topic.id), method: 'delete', data: { confirm: '削除しますか？' } do %>
                      <p>削除する</p>
                    <% end %>
                  </div>

                <% end %>
              <% end %>

            </div>


            <div class="col-md-9 text-white" style="width: 600px; margin: 50px 80px 60px; word-wrap:break-word;">
              <div class="show-outer">

                <h2>投稿者の名前</h2>
                <div class="show-container">
                  <h3><%= link_to @topic.name, teacher_path(@topic.teacher.id) %></h3>
                </div>

                <h2>自己紹介</h2>
                <div class="show-container">
                  <h3><%= @topic.teacher.introduce %></h3>
                </div>

                <h2>募集詳細</h2>
                <div class="show-container">
                  <h3><%= @topic.description %></h3>
                </div>

                <h2>依頼件数</h2>
                <div class="show-container">
                  <h3>現在<%= Requet.where(topic_id: @topic.id).count %>件の依頼が来ています</h3>
                </div>

              </div>
            </div>

          </div>

          <% if logged_in_user? %>
            <% if @requet.nil? %>

            <div class="row text-center row-margin" >
              <div class="col-md-offset-3 col-md-6 text-center">

                <%= link_to new_requet_path(id: @topic.id) do %>
                  <div class="text-center btn-white" >
                    <p style="font-size: 40px">依頼する</p>
                  </div>
                <% end %>

              </div>
            </div>

          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>
