<% if @rooms.count != 0 %> <!-- 会話中の人がいるがいるなら -->

  <div class="top-hero-wrapper">
    <div class="bg-mask">
      <div class="container content-container">
        <h1 class="text-white text-center">チャットルーム一覧</h1>

        <div class="row text-white">

          <% @rooms.each do |room| %>
            <div class="col-md-offset-2 col-md-10 auto-br" style="margin-top: 50px">

              <% if logged_in_user? %>

                <h2 >名前 : <span style="font-size: 50px;"><%= link_to room.teacher.name, teacher_path(id: room.teacher.id) %></span></h2>
                <div class="notice-circle new_chats"></div>
                <div class="col-md-4 btn-margin">
                  <%= link_to 'チャットルームへ', chat_path(id: room.id, teacher_id: room.teacher_id), class: 'btn-white btn' %>
                </div>

                <script>
                  var element = document.getElementsByClassName("notice-circle");

                  for (var i=0;i<element.length;i++) {

                    if (<%= room.messages.where(sender_id: room.teacher.id, teacher: true).last.read %> == false ) {

                      element[i].style.display = "block";
                    } else {
                      element[i].style.display = "none";
                    }
                  }
                </script>

              <% elsif logged_in_teacher? %>

                <h2>名前 : <span style="font-size: 50px;"><%= link_to room.user.name, user_path(id: room.user.id) %></span></h2>
                <div class="notice-circle new_chats"></div>
                <div class="col-md-4 btn-margin">
                  <%= link_to 'チャットルームへ', chat_path(id: room.id, teacher_id: room.teacher_id), class: 'btn-white btn' %>
                </div>

                <script>
                  var element = document.getElementsByClassName("notice-circle");
                  for (var i=0;i<element.length;i++) {
                    <% begin %>
                      if (<%= room.messages.where(sender_id: room.user.id, teacher: false).last.read %> == false ) {
                        element[i].style.display = "block";
                      // } else {
                      //   element[i].style.display = "none";
                      }
                    <% rescue => e %>

                    <% end %>

                  }
                </script>

              <% end %>

            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

<% else %> <!-- いないなら -->

  <div class="top-hero-wrapper">
    <div class="bg-mask">
      <div class="container content-container">
        <h1 class="text-white text-center">チャットルーム一覧</h1>
        <div class="row text-white row-margin">

          <div class="col-md-12 text-center text-white">
            <h1 class="emp-content">現在チャット中の人はいません</h1>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>
